<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MercuryQC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MercuryQC.My.MySettings>
            <setting name="LogDir" serializeAs="String">
                <value>C:\temp\</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=thomagata;Initial Catalog=MercuryAdmin;Persist Security Info=True;Trusted_Connection=True;</value>
            </setting>
            <setting name="TemplateDir" serializeAs="String">
                <value>\\thomagata\Mercury\QCReports\Templates\</value>
            </setting>
            <setting name="ReportDir" serializeAs="String">
                <value>\\tigerwood\jungle$\MeritBase\MeritMatch\Processes\</value>
            </setting>
        </MercuryQC.My.MySettings>
    </applicationSettings>
</configuration>